<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Registre-se</title>
    <link rel="stylesheet" href="../../static/css/esqc.css">
    <link rel="icon" href="../../static/img/logoatalaspng.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div id="wapper">
    <div class="auth-background"></div>
    <div class="panel-auth">
        <a href="../home/index.html">   <h2> Social <span>Atlas</span></h2> </a>
        <p style="text-align:center; margin-top: 0" ><small>᲼᲼᲼᲼᲼᲼</small></p>
        <form action="#">
            <label for="">
                Username:</label>
            <div class="input-group">
                <i class="fa fa-user"></i><input type="text" name="username" placeholder="Simple text">
            </div>

            <label for="">
                Email:</label>
            <div class="input-group">
                <i class="fa fa-user"></i><input type="text" name="username" placeholder="Simple text">
            </div>

            <label for="">
                Nova Senha:
            </label>
            <div class="input-group">
                <i class="fa fa-unlock"></i><input type="password" name="password" placeholder="Simple text">
            </div>
            <label for="">
                Confirmar Nova Senha:
            </label>
            <div class="input-group">
                <i class="fa fa-unlock"></i><input type="password" name="password" placeholder="Simple text">
            </div>

            <a href="../login/login.html">
                Voltar
            </a>



            <!-- <aside class="col">
              <a id="esquece" href=""> Esqueci a senha </a>
              <label for="">
                <input type="checkbox" name="remember"> <small> Lembrar senha </small>
              </label>
            </aside> -->
            <button type="submit" class="button" > Entrar </button>
        </form>
    </div>

    <div class="content">
        <article class="message">
            <p> É disso que estamos falando </p>
            <h4>
                Bem vindo ao futuro
            </h4>
            <!-- <p>
              <a href="#"> Leia o blog <i class="fa fa-link"></i></a>
            </p> -->
        </article>
    </div>
</div>
</body>
</html>
