<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/profile.css">
    <link rel="icon" href="/src/main/resources/static/img/logoatalaspng.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="nav-menu">
            <div id="logo">
                <a href=""
                ><img src="/src/main/resources/static/img/logoatalaspng.png" onload="SVGInject(this)"
                /></a>
            </div>
            <ul class="nav-list">
                <li><a href="/src/main/resources/templates/home/index.html" class="nav-link">Home</a></li>
                <li><a href="../feed/feed.html" class="nav-link">Feed</a></li>
                <li><a href="/src/main/resources/templates/profile/profile.html" class="nav-link">Profile</a></li>
            </ul>
        </div>
        <div class="nav-social">
            <!-- <form class="form-inline my-4 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="butn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            <!-- <img src="img/login.png"/> -->
            <a href="../login/login.html">
                <img src="/src/main/resources/static/img/exit.png"/></a>        </div>

        <div class="bx mr-2"></div>
    </nav>
</header>


<div class="container">
    <div class="card">
        <div class="overlay d-none">
            <small class="fa fa-close"></small>
            <img src="https://imgur.com/SSCE2Uj.jpg">
        </div>
        <div class="upperborder">
        </div>
        <!-- fa fa-plus -->
        <a href="/src/main/resources/templates/editlogin/edit.html">
            <it class="fa fa-pencil-square-o"></it></a>
        <div class="image">
            <span><img id="userimage" src="/src/main/resources/static/img/kurzgesagt.gif"></span>
        </div>
        <div class="text">
            <h3>Adam Terner</h3>   
            <p>PROJECT MANAGER</p>

            
        </div>
        <div class="bottom">
            <div class="social">
                <i class="fa fa-facebook-f"></i>
                <i class="fa fa-envelope-o"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-dribbble"></i>
            </div>
        </div>
    </div>

</div>

<div class="container1">
    <div class="card1">
    </div>

    <div class="card1">
    </div>

    <div class="card1">
    </div>

    <div class="card1">
    </div>

    </div>
</div>

<div class="container1">
    <div class="card1">
    </div>

    <div class="card1">
    </div>

    <div class="card1">
    </div>

    <div class="card1">
    </div>

    </div>
    
<div class="container1">
    <div class="card1">
    </div>

    <div class="card1">
    </div>

    <div class="card1">
    </div>

    <div class="card1">
    </div>

    </div>
</div>

</body>
</html>