*{
    margin:0;
    padding:0;
    font-family: 'Mukta', sans-serif;
}

body{
    background-color: #F2D6B3 ;
}

.feedp{
    margin-left: 500px;
}

.card{
    /* height: ; */
    width: 800px;
    background-color: white;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 37%;

}
header {
    width: 100%;
    padding-top: 16px;
    background-color: #0B5E6C;
  }

  .segundo{
    color: #EDF1F7;
    text-align: center;

  }

  .navbar {
    max-width: 1240px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .nav-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media screen and (max-width: 960px) {
    .nav-list {
      display: none;
    }
  }

  .nav-list li {
    margin-left: 24px;
  }

  #logo {
    max-width: 60px;
  }

  .nav-list li:last-child a {
    color: #ffffff;
  }

  .nav-link {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 200;
    text-transform: uppercase;
    color: #ffffff;
    padding: 8px 16px;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
    position: relative;
  }

  .nav-link::after {
    content: "";
    display: block;
    position: absolute;
    top: -50px;
    left: 50%;
    width: 2px;
    height: 0;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(226, 29, 34, 0)), to(#EE6724));
    background: linear-gradient(180deg, rgba(226, 29, 34, 0) 0%, #EE6724 100%);
  }

  .nav-link:hover {
    color: n;
  }

  .nav-link:hover::after {
    height: 40px;
  }

  .bx {
    display: none;
  }

  @media screen and (max-width: 960px) {
    .bx {
      display: block;
      width: 48px;
      height: 48px;
      background-color: #EDF1F7;
      border-radius: 8px;
    }
  }

  .nav-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .nav-social img {
    cursor: pointer;
    margin-left: 16px;
    width: 39px;
  }

  .nav-social img path
  .nav-social img circle {
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
  }

  .nav-social img:hover path,
  .nav-social img:hover circle {
    fill: #AA21D3;
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }

  ::-webkit-scrollbar {
    display: none;
    }

  img, svg {
    display: block;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #EDF1F7;
  }

  .btnpe{
    color: #018790; 
    margin-left: 10%;
    margin-bottom: 20px;    
  }

  .card-title{
    margin-top: 60px;
    margin-left: 43%;
    margin-bottom: 10%;
    font-style: italic;
    font-size: 20px;
  }

  .card-text{
    margin-bottom: 15px;
    margin-left: 10%;
  }

  .card-body{
    margin-left: 0%;
  }

  .card-img-top{
    margin-top: 0px;
    
  }

/* ...STORYS... */


  .swiper {
    width: 100%;
    height: 100px;
    margin-top: 40px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(201, 106, 43);
    color: #fff;



    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }