  
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Feed</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../static/css/feed.css">
    <link rel="icon" href="/src/main/resources/static/img/logoatalaspng.png">

    
     <!-- Link Swiper's CSS -->
     <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- Demo styles -->

</head>    
<body>

  
    <header>
        <nav class="navbar">
            <div class="nav-menu">
                <div id="logo">
                    <a href=""
                    ><img src="/src/main/resources/static/img/logoatalaspng.png" onload="SVGInject(this)"
                    /></a>
                </div>
                <ul class="nav-list">
                    <li><a href="/src/main/resources/templates/home/index.html" class="nav-link">Home</a></li>
                    <li><a href="../feed/feed.html" class="nav-link">Feed</a></li>
                    <li><a href="/src/main/resources/templates/profile/profile.html" class="nav-link">Profile</a></li>
                </ul>
            </div>
            <div class="nav-social">
                <!-- <form class="form-inline my-4 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="butn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
                <!-- <img src="img/login.png"/> -->
                <a href="../login/login.html">
                  <img src="/src/main/resources/static/img/exit.png"/></a>          </div>
    
            <div class="bx mr-2"></div>
        </nav>
    </header>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Kalani</div>
        <div class="swiper-slide">André</div>
        <div class="swiper-slide">Breno</div>
        <div class="swiper-slide">Thiago</div>
        <div class="swiper-slide">Eduardo</div>
        <div class="swiper-slide">Christian</div>
        <div class="swiper-slide">Artur</div>
        <div class="swiper-slide">Fernandes</div>
        <div class="swiper-slide">Pedro</div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    
    <div class="card" style="width: 25rem; height: 30rem;">
      <img class="card-img-top" src="../../static/img/5e701dd28f6d756484e336e9400d972b.png" alt="Card image cap"> <!-- CAPA DO PORTFÓLIO -->
      <div class="card-body">
     <h5 class="card-title">Kalani</h5>      <!-- NOME DA PESSOA QUE POSTOU O PERFIL -->
        <p class="card-text">Espaço aonde o dono ira fazer uma breve descrição sobre a sua postagem.</p> <!-- DESCRIÇÃO -->
        <a href="http://127.0.0.1:5500/src/main/resources/templates/profile/profile.html" class="btnpe">Visitar perfil</a>
      </div>
    </div>

        
        <div class="card" style="width: 25rem; height: 30rem;">
          <img class="card-img-top" src="../../static/img/5e701dd28f6d756484e336e9400d972b.png" alt="Card image cap"> <!-- CAPA DO PORTFÓLIO -->
          <div class="card-body">
         <h5 class="card-title">Breno</h5>      <!-- NOME DA PESSOA QUE POSTOU O PERFIL -->
            <p class="card-text">Espaço aonde o dono ira fazer uma breve descrição sobre a sua postagem.</p> <!-- DESCRIÇÃO -->
            <a href="http://127.0.0.1:5500/src/main/resources/templates/profile/profile.html" class="btnpe">Visitar perfil</a>
          </div>
        </div>
        
        <div class="card" style="width: 25rem; height: 30rem;">
          <img class="card-img-top" src="../../static/img/5e701dd28f6d756484e336e9400d972b.png" alt="Card image cap"> <!-- CAPA DO PORTFÓLIO -->
          <div class="card-body">
            <h5 class="card-title">Thiago</h5>
            <p class="card-text">Espaço aonde o dono ira fazer uma breve descrição sobre a sua postagem.</p>
            <a href="http://127.0.0.1:5500/src/main/resources/templates/profile/profile.html" class="btnpe">Visitar perfil</a>
          </div>
        </div>

        <div class="card" style="width: 25rem; height: 30rem;">
          <img class="card-img-top" src="../../static/img/5e701dd28f6d756484e336e9400d972b.png" alt="Card image cap"> <!-- CAPA DO PORTFÓLIO -->
          <div class="card-body">
            <h5 class="card-title">Ándre</h5>
            <p class="card-text">Espaço aonde o dono ira fazer uma breve descrição sobre a sua postagem.</p>
            <a href="http://127.0.0.1:5500/src/main/resources/templates/profile/profile.html" class="btnpe">Visitar perfil</a>
          </div>
        </div>

        <div class="card" style="width: 25rem; height: 30rem;">
          <img class="card-img-top" src="../../static/img/5e701dd28f6d756484e336e9400d972b.png" alt="Card image cap"> <!-- CAPA DO PORTFÓLIO -->
          <div class="card-body">
            <h5 class="card-title">Bruno</h5>
            <p class="card-text">Espaço aonde o dono ira fazer uma breve descrição sobre a sua postagem.</p>
            <a href="http://127.0.0.1:5500/src/main/resources/templates/profile/profile.html" class="btnpe">Visitar perfil</a>
          </div>
        </div>

        <div class="card" style="width: 25rem; height: 30rem;">
          <img class="card-img-top" src="../../static/img/5e701dd28f6d756484e336e9400d972b.png" alt="Card image cap"> <!-- CAPA DO PORTFÓLIO -->
          <div class="card-body">
            <h5 class="card-title">Artur</h5>
            <p class="card-text">Espaço aonde o dono ira fazer uma breve descrição sobre a sua postagem.</p>
            <a href="http://127.0.0.1:5500/src/main/resources/templates/profile/profile.html" class="btnpe">Visitar perfil</a>
          </div>
        </div>

        <div class="card" style="width: 25rem; height: 30rem;">
          <img class="card-img-top" src="../../static/img/5e701dd28f6d756484e336e9400d972b.png" alt="Card image cap"> <!-- CAPA DO PORTFÓLIO -->
          <div class="card-body">
            <h5 class="card-title">Eduardo </h5>
            <p class="card-text">Espaço aonde o dono ira fazer uma breve descrição sobre a sua postagem.</p>
            <a href="http://127.0.0.1:5500/src/main/resources/templates/profile/profile.html" class="btnpe">Visitar perfil</a>
          </div>
        </div>
        
 <!-- Swiper JS -->
 <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
   var swiper = new Swiper(".mySwiper", {
     slidesPerView: 3,
     spaceBetween: 30,
     pagination: {
       el: ".swiper-pagination",
       clickable: true,
     },
   });
 </script>
</body>